@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SISTEMA INVENTARIO</h1>
    <p class="lead">El Sistema de Inventario es una solución basada en la web, diseñado para pequeñas y medianas empresas que buscan un sistema completo de gestión de inventario sin reemplazar el software real para la contabilidad..</p>
    <p><a href="https://obedalvarado.pw/img/sistema-inventario.png" class="btn btn-primary btn-lg">Aprende Más &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Empezando</h2>
        <p>
            Por un Sistema de Inventario lo suficientemente flexible para satisfacer
            las necesidades de las empresas que requieren un control de inventario
            y facturación más ágil.
        </p>
        <p><a class="btn btn-default" href="http://obedalvarado.pw/orders/img/responsive.jpg">Aprende más &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Mejorando</h2>
        <p>El sistema también automatiza los procesos de compras y ventas, generando así un reporte con gráficos comparativos de cada mes.</p>
        <p><a class="btn btn-default" href="https://obedalvarado.pw/orders/img/multiplataforma.jpg">Aprende más &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ofreciendo</h2>
        <p>El Sistema de Inventario ofrece además, un conjunto de características que lo hacen una de las mejores opciones para administrar de forma eficiente el inventario de su empresa o negocio..</p>
        <p><a class="btn btn-default" href="https://obedalvarado.pw/orders/img/multiples-user.jpg">aprende más &raquo;</a></p>
    </div>
</div>