@model Glasfy06Proyecto.Models.roles

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>roles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Regresar", "Index")
</p>
